<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CALENDARIOS TURNOS MÉDICOS</title>

  <!-- FullCalendar -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/front/static/css/estilo_calendario.css">
</head>

<body>
  <div id="calendar-container">
    <div id="calendar"></div>
  </div>

  <!-- Popup para crear un turno -->
  <div class="popup-overlay"></div>
  <div class="popup" id="event-popup">
    <h3>Crear nuevo turno</h3>
    
 <!-- selector de Doctores -->
    <div>
      <label for="popup-doc_id">Doctor:</label>

      <select id="popup-doc_id" name="doc_id" required>
        <option value="" disabled selected>Seleccione un doctor</option>
      </select>

    </div>
    <input type="text" id="popup-est_id" placeholder="Estado del turno" required>
    <input type="text" id="popup-patient" placeholder="ID del paciente" required>
    <input type="date" id="popup-tur_dia" required>
    <input type="time" id="popup-time" required>
    <button id="popup-submit">Crear Turno</button>
    <button id="popup-cancel">Cancelar</button>
  </div>

  <script src="/front/static/js/calendario.js"></script>
</body>

</html>
